form .avatar{
    width: 200px;
    margin-bottom: 5px;
}

.pub_image{
    margin-bottom: 25px;
}

.navbar .container-avatar,
.pub_image .container-avatar{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container{
    overflow: hidden;
    width: 100%;
    max-height: 534px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub_image .card-body{
    padding: 0;
}

.card-body .post-img{
    width: 100%;
}

.pub_image .description{
    padding: 20px;
    padding-bottom: 0;
}

.heart{
    margin-right: 20px;
    color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.5s;
}

.heart:hover{
    color: crimson;
}

.pub_image .btn-comments{
    margin: 20px;
    margin-top: 0;
}

.comment_likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nickname{
    color: gray;
}

.date{
    margin-top: 1px;
    margin-left: 1px;
    color: gray;
    font-style: italic;
}